@model IEnumerable<CrudMVC.Models.Contato>
@{
    ViewData["Title"] = "Contatos";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<p>
    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-action="Create">Create</a>
</p>
<div>
    <table class="table">
        <thead class="table-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fone)
                </th>
                <th>

                </th>

            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr class="table-dark">
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Fone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {Id = item.Id} )       |           
                        @Html.ActionLink("Delete", "Delete", new {Id = item.Id} )
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>


